.white-layout {
  background-color: white;
  width: 50%;
  height:200%;
  margin: 0 auto;
  padding:0px;
  margin-top: 5%;
   font-family: 'Poppins', sans-serif;
  border: 2px solid black;
}



.top-section,
.middle-section,
.bottom-section {
  display: flex;

}

.top-section {
  height: 25%;
}

.middle-section {
  height: 40%;
}

.bottom-section {
  height: 35%;
  margin-left:5%;
  margin-right: 5%;
}


.top-left{
  width:40%;
  margin-left: 3%;
  margin-top: 5%;
}
.intro{
  color: #cb3931; 
  font-size: 0.8em;
  font-family: 'Poppins', sans-serif;
}

.top-right{
  width:60%;
}

.bottom-left{
  width: 60%;
  margin-right: 10%;
}

.bottom-right {
  width: 40%;
}

.top-left,
.top-right {
  height: 100%;
}


.bottom-left,
.bottom-right {
  height: 100%;
}

.red-layout {
  width: 100%;
  height: 100%;
  margin-left: 5%;
  background-color: #f0f0f0;
}

    
.container {
  display: flex;
  flex-direction: column;
/*  height: 100vh;  Set the height of the container to fill the viewport */
}
    
.white-section {
  padding: 0;
  margin: 0;
  flex: 2; /* Take up two-thirds of the container */
   background-color: #f0f0f0
}


    
.red-section {
  flex: 1; /* Take up one-third of the container */
  background-color: #cb3931; /* Red background color */
}

.title-icons{
  display: flex;
  margin-top: -13%;
}

.title{
  width: 80%;
}
.icons{
  width: 20%;
  text-align: left;
  margin-top: 3%;
}
.classtest{
  font-family: monospace;

  fonnt-size: 1em;
}

.top-right img{
  width: 50%;
  height: 100%;
  margin-left: 20%;

}
.top-left p {
  width: 70%;
  height: 100%;
  margin-left: 10%; 
}

.hi-info{
  margin-top: 10%;
  display: flex;
}

.hi{
  flex: 1;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: bolder;
  margin-left: 10%;
}
.info{
  flex: 1;
  font-family: 'Poppins', sans-serif;
  color: #cb3931;
  font-size: 1em;
  margin-top: 7%;
}

.info a{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #cb3931;
  font-size: 1em;

/*  margin-left: 10%;*/
}

#heba{
  font-family: 'Poppins', sans-serif;
  font-size: 5em;
  font-weight: bolder;
  margin-top: -10%;
  margin-left: 10%;
}
.job-title{
    font-family: 'Poppins', sans-serif;
    color: #cb3931;
    margin-left: 13%;
}


.fa {
  padding: 5%;
  font-size: 5%;
  width: 1%;
  text-align: center;
  text-decoration: none;

  margin: 2% 1%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color:black;
/*  background-color: yellow;*/
}

.fa-twitter {
  color: black;
}

.fa-instagram {
  color: black;
  margin-left: 2% ;
}

.title-e{
  color: #cb3931;
  font-family: 'Poppins', sans-serif;
  padding: 0;
}
.year{
  font-family: 'Poppins', sans-serif;
  margin-bottom: -5%;
  margin-top: -5%;
}

.new_year{
  font-family: 'Poppins', sans-serif;
  margin-bottom: -5%;
/*  margin-top: -5%;*/
}
.pos-com {
  display: flex; 
  align-items: center; 
  margin-bottom: -7%;
}

.position {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
/*  margin-right: 20px; */
}

.company {
  color: #cb3931; 
  font-family: 'Poppins', sans-serif;
}

.description{
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  text-align: justify;
}

.university{
  color: #cb3931; 
  margin-bottom: -3%;
}